.container {
  width: 100vm;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.bloc-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.list-item {
  height: 120px;
  background-color: white;
  display: flex;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 15px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.list-item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.list-item-left .stats-number {
  margin: 0;
  font-size: 26px;
  color: black;
  font-weight: bold;
}

.list-item-left .stats-title {
  font-size: 14px;
  color: #858997;
  font-weight: bold;
}

.pie-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pie {
  width: 180px;
  height: 180px;
  margin-top: 50px;
}
