h1 {
  font-size: 28px;
  color: black;
}

#logo {
  width: 120px;
  height: 120px;
}

.container {
  width: 500px;
  max-height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  background-color: #f8f9fb;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-container {
  display: flex;
  height: 100%;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  font-size: 22px;
  color: #007dfd;
  align-self: start;
  margin-top: 20px;
  margin-bottom: 5px;
}

.login input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border-width: 0;
  font-size: 16px;
  color: black;
  padding: 10px;
}

.disabled {
  background-color: #E5E5E5;
}

.login input:focus {
  outline: none;
}

.login button {
  background-color: #007dfd;
  border-width: 0;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: white;
}

.login button:hover {
  cursor: pointer;
}

.login button:focus {
  outline: none;
}

.login button:active {
  outline: none;
  background-color: #f8f9fb;
}

.login a {
  color: orange;
}

.loader {
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

