@font-face {
  font-family: "Roboto Light";
  src: url("assets/fonts/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blue-gradient-background {
  background: linear-gradient(#007dfd, #0047fa);
}

.white-button {
  height: 50px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: #005ffb;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.white-button:active {
  background-color: whitesmoke;
}

.white-button:hover {
  cursor: pointer;
}

.white-button:focus {
  outline: none;
}
