
a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

#logo {
  width: 200px;
  height: 200px;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
}

.content {
  width: 70%;
}

.nav-bar {
  height: 100vh;
  background-color: white;
  margin-top: 0;
  width: 20%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.nav-item:hover .nav-item-left {
  width: 40px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  background: linear-gradient(#007dfd, #0047fa);
  margin-right: 20px;
}

.nav-item-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item .nav-item-left img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.nav-item .nav-item-left {
  width: 40px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  margin-right: 20px;
}

.nav-item-right {
  color: #858997;
  font-size: 18px;
  text-align: left;
}

.nav-item:hover .nav-item-right {
  color: #007dfd;
  font-size: 18px;
  text-align: left;
}

.router-link-active .nav-item-left {
  width: 40px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  background: linear-gradient(#007dfd, #0047fa);
  margin-right: 20px;
}

.router-link-active .nav-item-right {
  color: #007dfd;
  font-size: 18px;
  text-align: left;
}

.nav-item:hover {
  /*padding: 10px;
  background-color: orange;
  border-radius: 10px;
  margin-top: 10px;*/
  cursor: pointer;
}

.content {
  padding: 0 20px 0 20px;
}

.premium-container {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 100%;
}

.premium-container .premium {
  color: #ffa214;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  border: 1px solid #ffa214;
  border-radius: 5px;
  text-align: center;
  width: 180px;
}

.premium-container .become-premium {
  background-color: #ffa214;
  color: white;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  width: 180px;
  text-align: center;
}

.premium-container .become-premium:hover {
  cursor: pointer;
}

.profile {
  position: absolute;
  bottom: 50px;
  left: 20px;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile:hover {
  cursor: pointer;
  background-color: rgba(133, 137, 151, 0.08);
}

.profile img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 30px;
}

.profile .name {
  font-size: 18px;
  flex: 1;
}

.normal {
  font-size: 14px;
  color: black;
}

.selected {
  font-size: 14px;
  color: white;
}

/***************************
      STRIPE PAYMENT
 **************************/

.pay-with-stripe {
  width: 30%;
  background: linear-gradient(#007dfd, #0047fa);
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 6px;
  height: 6px;
}

.pay-with-stripe:hover {
  cursor: pointer;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%
}

.price {
  font-size: 16px;
  color: #ffa214;
  margin-top: 10px;
}

.modal-container h2 {
  color: #858997;
}

.modal-container .content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.modal-container .content .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal-container .content .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal-container .content .right p {
  color: black;
  font-size: 14px;
}

.credit-card-inputs {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stripe-element {
  background-color: #f8f9fb;
  border: 1px solid #858997;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

.credit-card-inputs.complete {
}
